<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>C++ Data Types</h2>
    <p>As explained in the <a href="cpp_variables.asp">Variables</a> chapter, a variable in C++ must be a specified data
        type:</p>
    <div class="w3-example">
        <h3>Example</h3>
        <div class="w3-code notranslate javaHigh">
            int myNum = 5;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            // Integer (whole number)<br>float myFloatNum = 5.99;&nbsp;&nbsp;&nbsp;&nbsp;
            // Floating point number<br>double myDoubleNum = 9.98;&nbsp; &nbsp;// Floating point number<br>char myLetter =
            'D';&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            // Character<br>bool
            myBoolean = true;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; // Boolean<br>string myText =
            &quot;Hello&quot;;&nbsp;&nbsp;&nbsp;&nbsp;
            // String</div>
        <a target="_blank" class="w3-btn w3-margin-bottom" href="trycpp.asp?filename=demo_data_types">Try it Yourself
            &raquo;</a>
    </div>
    
    <hr>
    
    <h2>Basic Data Types</h2>
    <p>The data type specifies the size and type of information the variable will store:</p>
    
    <div class="w3-responsive" style="margin:-16px 0">
        <table class="ws-table-all notranslate">
            <tbody>
                <tr>
                    <th style="width:15%">Data Type</th>
                    <th style="width:15%">Size</th>
                    <th style="width:70%">Description</th>
                </tr>
                <tr>
                    <td><code class="w3-codespan" style="padding-left:0;">boolean</code></td>
                    <td>1 byte</td>
                    <td>Stores true or false values</td>
                </tr>
                <tr>
                    <td><code class="w3-codespan" style="padding-left:0">char</code></td>
                    <td>1 byte</td>
                    <td>Stores a single character/letter/number, or ASCII values</td>
                </tr>
                <tr>
                    <td><code class="w3-codespan" style="padding-left:0">int</code></td>
                    <td>2 or 4 bytes</td>
                    <td>Stores whole numbers, without decimals</td>
                </tr>
                <tr>
                    <td><code class="w3-codespan" style="padding-left:0;background-color:white">float</code></td>
                    <td>4 bytes</td>
                    <td>Stores fractional numbers, containing one or more decimals. Sufficient for
                        storing 7 decimal digits</td>
                </tr>
                <tr>
                    <td><code class="w3-codespan" style="padding-left:0">double</code></td>
                    <td>8 bytes</td>
                    <td>Stores fractional numbers, containing one or more decimals. Sufficient for
                        storing 15 decimal digits</td>
                </tr>
    
            </tbody>
        </table>
    </div>

</body>
</html>