<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>C++ <span class="color_h1">Numeric Data Types</span></h1>
    <div class="w3-clear nextprev">
        <a class="w3-left w3-btn" href="cpp_data_types.asp">&#10094; Previous</a>
        <a class="w3-right w3-btn" href="cpp_data_types_bool.asp">Next &#10095;</a>
    </div>
    <hr>
    
    <h2>Numeric Types</h2>
    <p>Use <code class="w3-codespan">int</code> when you need to store a whole number without decimals, like 35 or 1000, and
        <code class="w3-codespan">float</code> or <code class="w3-codespan">double</code> when you need a
        floating point number (with decimals), like 9.99 or 3.14515.</p>
    
    <div class="w3-example">
        <h3>int</h3>
        <div class="w3-code notranslate javaHigh">
            int myNum = 1000;<br>
            cout &lt;&lt; myNum;</div>
        <a target="_blank" class="w3-btn w3-margin-bottom" href="trycpp.asp?filename=demo_data_type_int">Try it Yourself
            &raquo;</a>
    </div>
    
    <div class="w3-example">
        <h3>float</h3>
        <div class="w3-code notranslate javaHigh">
            float myNum = 5.75;<br>
            cout &lt;&lt; myNum;</div>
        <a target="_blank" class="w3-btn w3-margin-bottom" href="trycpp.asp?filename=demo_data_type_float">Try it Yourself
            &raquo;</a>
    </div>
    
    <div class="w3-example">
        <h3>double</h3>
        <div class="w3-code notranslate javaHigh">
            double myNum = 19.99;<br>
            cout &lt;&lt; myNum;</div>
        <a target="_blank" class="w3-btn w3-margin-bottom" href="trycpp.asp?filename=demo_data_type_double">Try it Yourself
            &raquo;</a>
    </div>
    
    <div class="w3-note w3-panel">
        <p><code class="w3-codespan">float</code> vs. <code class="w3-codespan">double</code></p>
        <p>The <strong>precision</strong> of a floating point value indicates how many digits the value can have
            after the decimal point.
            The precision of <code class="w3-codespan">float</code> is only six or seven
            decimal digits, while <code class="w3-codespan">double</code> variables have a precision
            of about 15 digits. Therefore it is safer to use <code class="w3-codespan">double</code> for most calculations.
        </p>
    </div>
    
    <h3>Scientific Numbers</h3>
    <p>A floating point number can also be a scientific number with an "e" to indicate the power of 10:</p>
    <div class="w3-example">
        <h3>Example</h3>
        <div class="w3-code notranslate javaHigh">
            float f1 = 35e3;<br>
            double d1 = 12E4;<br>
            cout &lt;&lt; f1;<br>cout &lt;&lt; d1;</div>
        <a target="_blank" class="w3-btn w3-margin-bottom" href="trycpp.asp?filename=demo_data_type_scientific">Try it
            Yourself &raquo;</a>
    </div>

</body>
</html>