<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>C++ Output (Print Text)</h2>
    <p>The <code class="w3-codespan">cout</code> object, together with the <code class="w3-codespan">&lt;&lt;</code>
        operator, is used to output values/print text:</p>
    <div class="w3-example">
        <h3>Example</h3>
        <div class="w3-code notranslate javaHigh">
            #include &lt;iostream&gt;<br>using namespace std;<br><br>int main() {<br>&nbsp;
            <strong>cout</strong> &lt;&lt; &quot;Hello World!&quot;;<br>&nbsp; return 0;<br>}
        </div>
        <a target="_blank" class="w3-btn w3-margin-bottom" href="trycpp.asp?filename=demo_output">Try it Yourself
            &raquo;</a>
    </div>
    
    <p>You can add as many <code class="w3-codespan">cout</code> objects as you want. However, note that it does not insert
        a new line at the end of the output:</p>
    <div class="w3-example">
        <h3>Example</h3>
        <div class="w3-code notranslate javaHigh">
            #include &lt;iostream&gt;<br>using namespace std;<br><br>int main() {<br>&nbsp;
            <strong>cout</strong> &lt;&lt; &quot;Hello World!&quot;;<br>&nbsp; <strong>cout</strong> &lt;&lt; &quot;I am
            learning C++&quot;;<br>&nbsp; return 0;<br>}
        </div>
        <a target="_blank" class="w3-btn w3-margin-bottom" href="trycpp.asp?filename=demo_output2">Try it Yourself
            &raquo;</a>
    </div>

</body>
</html>