<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>C++ Get Started</h2>
    <p>To start using C++, you need two things:</p>
    <ul>
        <li>A text editor, like Notepad, to write C++ code</li>
        <li>A compiler, like GCC, to translate the C++ code into a language that
            the computer will understand</li>
    </ul>
    <p>There are many text editors and compilers to choose from. In this tutorial, we
        will use an IDE (see below).</p>
    <hr>
    
    <h2>C++ Install IDE</h2>
    <p>An IDE (Integrated Development Environment) is used to edit AND compile the code.</p>
    <p>Popular IDE's include Code::Blocks, Eclipse, and Visual Studio. These are all
        free, and they can be used to both edit and debug C++ code.</p>
    
    <p><strong>Note:</strong> Web-based IDE's can work as well, but functionality is limited.</p>
    <p>We will use <strong>Code::Blocks</strong> in our tutorial, which we believe is a good place to start.</p>
    <p>You can find the latest version of Codeblocks at <a href="https://www.codeblocks.org/downloads/binaries/"
            target="_blank">http://www.codeblocks.org/</a>.
        Download the <code class="w3-codespan">mingw-setup.exe</code> file, which will install the text editor with
        a compiler. </p>
    <hr>
    
    <h2>C++ Quickstart</h2>
    <p>Let's create our first C++ file.</p>
    <p>Open Codeblocks and go to <strong>File &gt; New &gt; Empty File</strong>.</p>
    <p>Write the following C++ code and save the file as <code class="w3-codespan">myfirstprogram.cpp</code> (<strong>File
            &gt; Save File as</strong>):</p>
    <div class="w3-example">
        <h4>myfirstprogram.cpp</h4>
        <div class="w3-code notranslate javaHigh">
            #include &lt;iostream&gt;<br>using namespace std;<br><br>int main() {<br>&nbsp;
            cout &lt;&lt; &quot;Hello World!&quot;;<br>&nbsp; return 0;<br>}</div>
    </div>
    <p>Don't worry if you don't understand the code above - we will discuss it in detail in later chapters. For now, focus
        on how to run the code.</p>
    
    <p>In Codeblocks, it should look like this:</p>

</body>
</html>