<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="h1">Data Types in C</h1>
<p>A data type specifies the type of data that a variable can store such as integer, floating, character, etc.</p>
<img src="https://static.javatpoint.com/cpages/images/c-data-types.jpg" alt="C Data Types" />
<p> There are the following data types in C language.</p>
<table class="alt">
<tr><th>Types</th><th>Data Types</th></tr>
<tr><td>Basic Data Type</td><td>int, char, float, double</td></tr>
<tr><td>Derived Data Type</td><td>array, pointer, structure, union</td></tr>
<tr><td>Enumeration Data Type</td><td>enum</td></tr>
<tr><td>Void Data Type</td><td>void</td></tr>
</table>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<ins class="adsbygoogle cm_jtp_wtc_responsive" style="display:inline-block" data-ad-client="ca-pub-4699858549023382" data-ad-slot="6746133113"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<h2 class="h2">Basic Data Types</h2>
<p>The basic data types are integer-based and floating-point based. C language supports both signed and unsigned literals.</p>
<p>The memory size of the basic data types may change according to 32 or 64-bit operating system.</p>
<p>Let's see the basic data types. Its size is given <strong>according to 32-bit architecture</strong>.</p>
<table class="alt">
<tr><th>Data Types</th><th>Memory Size</th><th>Range</th></tr>
<tr><td><b>char</b></td><td>1 byte</td><td>&#x2212;128 to 127</td></tr>
<tr><td>signed char</td><td>1 byte</td><td>&#x2212;128 to 127</td></tr>
<tr><td>unsigned char</td><td>1 byte</td><td>0 to 255</td></tr>
<tr><td><b>short</b></td><td>2 byte</td><td>&#x2212;32,768 to 32,767</td></tr>
<tr><td>signed short</td><td>2 byte</td><td>&#x2212;32,768 to 32,767</td></tr>
<tr><td>unsigned short</td><td>2 byte</td><td>0 to 65,535</td></tr>
<tr><td><b>int</b></td><td>2 byte</td><td>&#x2212;32,768 to 32,767</td></tr>
<tr><td>signed int</td><td>2 byte</td><td>&#x2212;32,768 to 32,767</td></tr>
<tr><td>unsigned int</td><td>2 byte</td><td>0 to 65,535</td></tr>
<tr><td><b>short int</b></td><td>2 byte</td><td>&#x2212;32,768 to 32,767</td></tr>
<tr><td>signed short int</td><td>2 byte</td><td>&#x2212;32,768 to 32,767</td></tr>
<tr><td>unsigned short int</td><td>2 byte</td><td>0 to 65,535</td></tr>
<tr><td><b>long int</b></td><td>4 byte</td><td>-2,147,483,648 to 2,147,483,647</td></tr>
<tr><td>signed long int</td><td>4 byte</td><td>-2,147,483,648 to 2,147,483,647</td></tr>
<tr><td>unsigned long int</td><td>4 byte</td><td>0 to 4,294,967,295</td></tr>
<tr><td><b>float</b></td><td>4 byte</td><td></td></tr>
<tr><td><b>double</b></td><td>8 byte</td><td></td></tr>
<tr><td><b>long double</b></td><td>10 byte</td><td></td></tr>
</table>
</body>
</html>