<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Get Started With C</h2>
<p>To start using C, you need two things:</p>
<ul>
<li>A text editor, like Notepad, to write C code</li>
<li>A compiler, like GCC, to translate the C code into a language that 
the computer will understand</li>
</ul>
<p>There are many text editors and compilers to choose from. In this tutorial, we 
will use an <strong><em>IDE </em></strong>(see below).</p>
<hr>

<h2>C Install IDE</h2>
<p>An IDE (Integrated Development Environment) is used to edit AND compile the code.</p>
<p>Popular IDE's include Code::Blocks, Eclipse, and Visual Studio. These are all 
free, and they can be used to both edit and debug C code.</p>

<p><strong>Note:</strong> Web-based IDE's can work as well, but functionality is limited.</p>
<p>We will use <strong>Code::Blocks</strong> in our tutorial, which we believe is a good place to start.</p>
<p>You can find the latest version of Codeblocks at <a href="https://www.codeblocks.org/downloads/binaries/" target="_blank">http://www.codeblocks.org/</a>. 
Download the <code class="w3-codespan">mingw-setup.exe</code> file, which will install the text editor with 
a compiler. </p>
<hr>

<h2>C Quickstart</h2>
<p>Let's create our first C file.</p>
<p>Open Codeblocks and go to <strong>File &gt; New &gt; Empty File</strong>.</p>
<p>Write the following C code and save the file as <code class="w3-codespan">
myfirstprogram.c</code> (<strong>File &gt; Save File as</strong>):</p>
<div class="w3-example">
<h4>myfirstprogram.c</h4>
<div class="w3-code notranslate javaHigh">
  #include &lt;stdio.h&gt;<br><br>int main() {<br>&nbsp; printf(&quot;Hello World!&quot;);<br>&nbsp; 
  return 0;<br>}</div>
</div>
<p>Don't worry if you don't understand the code above - we will discuss it in detail in later chapters. For now, focus on how to run the code.</p>

<p>In Codeblocks, it should look like this:</p>
<img src="codeblocks2020.png" style="width:100%;max-width:800px" class="w3-border">
<p>Then, go to <strong>Build &gt; Build and Run</strong> to run (execute) the program. The result will look something to this:</p>

<div class="w3-example w3-padding-16">
<div class="notranslate w3-black w3-padding">
  <code>
  Hello World!<br>Process returned 0 (0x0) execution time : 0.011 s<br>Press any 
  key to continue.</code>
</div>
</div>

<p><strong>Congratulations</strong>! You have now written and executed your first C program.</p>
<hr>

<h2>Learning C At W3Schools</h2>
<p>When learning C at W3Schools.com, you can use our "Try it Yourself" tool, which shows both the code and the result. This will make it easier for 
you to understand every part as we move forward:</p>

</body>
</html>