<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<h2>Syntax</h2>

<p>You have already seen the following code a couple of times in the first 
chapters. Let's break it down to understand it better:</p>

<div class="w3-example">
<h3>Example</h3>
<div class="w3-code notranslate javaHigh">
  #include &lt;stdio.h&gt;<br><br>int main() {<br>&nbsp; printf(&quot;Hello World!&quot;);<br>&nbsp; 
  return 0;<br>}</div>
<a target="_blank" class="w3-btn w3-margin-bottom" href="tryc.php?filename=demo_helloworld">Try it Yourself &raquo;</a>
</div>

<h3>Example explained</h3>

<p><strong>Line 1:</strong> <code class="w3-codespan">#include &lt;stdio.h&gt;</code> is a 
<strong>header file library</strong> that lets us work with input and output 
functions, such as 
<code class="w3-codespan">printf()</code> (used in line 4). Header files add functionality to C programs.</p>
<div class="w3-note w3-panel">
<p>Don't worry if you don't understand how&nbsp; <code class="w3-codespan">#include &lt;stdio.h&gt;</code> works. Just think of it as something that (almost) always appears in your program.</p>
</div>
<p><strong>Line 2:</strong> A blank line. C ignores white space. But we use it 
to make the code more readable.</p>
<p><strong>Line 3:</strong> Another thing that always appear in a C program, is
<code class="w3-codespan">main()</code>. This is called a 
<strong>function</strong>. Any code inside its curly brackets <code class="w3-codespan">{}</code> will be executed.
</p>
<p><strong>Line 4:</strong> <code class="w3-codespan">printf()</code> is a 
<strong>function</strong> used to output/print text to the screen. In our example it will output "Hello World". </p>
<!--<p>The newline character (<code class="w3-codespan">\n</code>) is called an <strong>escape sequence</strong>, and is used to 
create a new line.</p>-->
<div class="w3-note w3-panel">
<p><strong>Note that:</strong> Every C statement ends with a semicolon <code class="w3-codespan">;</code></p>
<p><strong>Note:</strong> The body of <code class="w3-codespan">int main()</code> could also been written as:<br>
<code class="w3-codespan">int main(){printf("Hello World!");return 0;} </code></p>
<p><strong>Remember:</strong> The compiler ignores white spaces. However, multiple lines makes the code more readable.</p>
</div>
<p><strong>Line 5:</strong> <code class="w3-codespan">return 0</code> ends the <code class="w3-codespan">main()</code> function.</p>
<p><strong>Line 6:</strong> Do not forget to add the closing curly bracket <code class="w3-codespan">}</code> to actually end the 
main function.</p>
<br>

<br>
</body>
</html>